body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select, textarea{
    max-width: 450px;
}
textarea.entry-content{
    max-width: 900px !important;
    height: 450px !important;
}
div#ContentContainer{
    margin: 0 0 20px;
    float: left;
    display: block;
    width: 820px;
    line-height: 1.4em !important;
    text-align: justify;
}
div#ContentContainer ul li{ 
    line-height: 25px!important;
}
div#ContentContainer .conc{
    border: 1px solid #ccc;
    background: #f5f5f5;
    color: #333;
    padding: 10px;
}
.social-header{
    margin: 10px 0;
    padding: 5px 0;
    border: 1px solid #e8e8e8;
}
.social-header .social_box{
    float: left; 
    margin: 0 5px;
    width: 90px;
}
#ContentContainer .bottom .left{
    float: left;
}
#ContentContainer .bottom .right{
    float: right;
    text-align: right;
}
#RightColumn{
    float:right; 
    width: 280px; 
}
@media only screen and (max-width : 1100px) {
    div#ContentContainer {
        float: none !important;
        width: 100% !important;
    }
    #RightColumn {
        float: none !important;
    }
}

.clear{
    clear: both;
}