<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://www.yagizhanpala.com</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>yagizhanpala.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>yagizhanpala</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$yagizhanpala</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="BlogContextY" Order="5" Enabled="False">
          <Destination Path="Data Source=tcp:z1log6qepf.database.windows.net,1433;Initial Catalog=BlogDB;User ID=BlogUser@z1log6qepf;Password=Myzrblg123" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=KZLB-EGT-LT2461\SQLEXPRESS;Initial Catalog=BlogDB;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\BlogContextY_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="server=KZLB-EGT-LT2461\SQLEXPRESS; Initial Catalog=BlogDB; integrated security=true;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="BlogContext" Order="6" Enabled="False">
          <Destination Path="Data Source=tcp:z1log6qepf.database.windows.net,1433;Initial Catalog=BlogDB;User ID=BlogUser@z1log6qepf;Password=Myzrblg123" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="MyAzureBlog.DAL.BlogContext, MyAzureBlog" MigrationConfiguration="MyAzureBlog.Migrations.Configuration, MyAzureBlog" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BlogContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:z1log6qepf.database.windows.net,1433;Initial Catalog=BlogDB;User ID=BlogUser@z1log6qepf;Password=Myzrblg123</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BlogContextY-Web.config Connection String">
      <ParameterValue>Data Source=tcp:z1log6qepf.database.windows.net,1433;Initial Catalog=BlogDB;User ID=BlogUser@z1log6qepf;Password=Myzrblg123</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>